*{
    padding: 0;
    margin: 0;
}

@keyframes tituloTop{
    0%,18%{
        content: "Busque Conhecimento!";
    }
    21%,40%{
        content: "Cursos Incríveis!";
    }
    41%,60%{
        content: "Venha Conosco!";
    }
    61%,80%{
        content: "Não Perca Essa Oportunidade!";
    }
    81%, 100%{
        content: "Fábrica De Melhorias";
    }
}

header{
    background-image: linear-gradient(#042960, #004599);
    color: black;
    width: 100%;
    height: 5em;
    display: flex;
    text-align: center; 
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 10px aliceblue;
}

nav{
    width: 40em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #a204db;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#a2{
    background-color: #0023adac;
    padding: 6px;
    border-radius: 0.5em;
}

#logo{
    filter: invert(100);
}

#tit1{
    font-family: monospace;
    font-size: 4em;
    color: aliceblue;
}

#tit1::after{
    content: "";
    animation: tituloTop 20s infinite;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.titAnim{
    height: 5em;
    display: grid;
    color: black;
    justify-items: center;
    width: 100%;
    align-content: center;
    padding-top: 1em;
}

.content{
    height: 87.6vh;
    width: 100%;
    background-image: linear-gradient(#2c005b, #400078);
    display: grid;
}

.itens{
    display: grid;
}

.cursos{
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cursos img{
    height: 25em;
}