*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #23004c;
}

body{
    overflow-x:hidden;
    text-align: center;
    background-image: url(./fb.png);
    height: 100%;
}

header{
    background-image: linear-gradient(#430460, #660099);
    color: black;
    width: 100%;
    height: 5em;
    display: flex;
    text-align: center; 
    top: 0px;
    box-shadow: 0px 0px 10px aliceblue;
}

nav{
    width: 40em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #046edb;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#a4{
    background-color: #0023adac;
    padding: 6px;
    border-radius: 0.5em;
}

#logo{
    filter: invert(100);
}

.content{
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
    display: grid;
    text-align: center;
}

.pessoa{
    background-image: linear-gradient(#8504db, #3c0454);
    color: aliceblue;
    border-radius: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 17em;
    width: 30em;
    margin-top: 3em;
    padding: 1em;
    margin: 2em;
    border: 3px solid #2c0042;
}

.esq{
    float: left;
    width: 12em;
    display: grid;
    justify-content: center;
    background-image: radial-gradient(black, );
    border-radius: 1em;
}

h1{
    color: rgb(197, 236, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.5em;
}

.dir{
    width: 60%;
    height: 16em;
    background-color:#2c0042;
    border-radius: 1em;
    margin-left: 1em;
}

#peapFot{
    height: 10em;
    border-radius: 100%;
    position: relative;
    filter: drop-shadow(10px 10px 7px #29003d);
}

#name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-shadow: 2px 2px 3px black;
}

#desc{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 1em;
    font-size: 1.3em;
    width: 13em;
}

.botoes{
    position: relative;
    transform: translate(0, 1em);
}

.ptprof{
    display: flex;
}

#title2{
    position: relative;
}

.ptEquipe{
    display: flex;
    justify-content: center;
}

.ptFundadores{
    display: flex;
}

.fundador{
    background-image: linear-gradient(#046EDB, #042c54);
    color: aliceblue;
    border-radius: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 20em;
    width: 30em;
    margin-top: 3em;
    padding: 1em;
    margin: 2em;
    border: 3px solid #000142;
}

.dirF{
    width: 60%;
    height: 20em;
    background-color:#080042;
    align-content: center;
    border-radius: 1em;
    margin-left: 1em;
}

#fundFot{
    height: 10em;
    border-radius: 100%;
    position: relative;
    filter: drop-shadow(10px 10px 7px #0c003d);
}

@media screen and (max-width: 1200px) {
    .ptprof{
        display: grid;
        justify-content: center;
    }
    .ptFundadores{
        display: grid;
        justify-content: center;
    }

}

@media screen and (max-width: 750px) {
    nav{
        width: 17em;
        display: flex;
    }
    a{
        font-size:15px;
        margin: 0.4em;
    }
    #a4{
        margin-top: 0;
        height: 1em;
    }
    #logo{
        visibility: hidden;
    }
    .esq{
        display: grid;
        justify-items: center;
    }
    .dir{
        width: 100%;
        align-items: center;
        align-content: center;
        display: grid;
        height: 18em;
        margin: 0;
    }
    .ptprof{
        display: grid;
        justify-content: center;
    }
    .ptFundadores{
        display: grid;
        justify-content: center;
    }
    .pessoa{
        width: 17em;
        height: 29em;
        display: grid;
        justify-items: center;
    }
    #desc{
        font-size: 1.3em;
        width: 90%;
    }
    #name{
        font-size:2em;
    }
    .dirF{
        width: 100%;
        height: 22em;
        margin: 0;
    }
    .fundador{
        height:32em ;
        width: 22em;
        display: grid;
        justify-items: center;
        align-items: baseline;
        align-content: baseline;
    }
    #peapFot{
        height: 6em;
    }
    #fundFot{
        height: 6em;
    }
    .fundador{
        width: 17em;
    }
}