*{
    padding: 0;
    margin: 0;
}

@keyframes tituloTop{
    0%,18%{
        content: "Criatividade Pura!";
    }
    21%,40%{
        content: "Crie Projetos Surpreendentes!";
    }
    41%,60%{
        content: "Crie O Que Quiser!";
    }
    61%,80%{
        content: "Não Perca Essa Oportunidade!";
    }
    81%, 100%{
        content: "Fábrica De Melhorias";
    }
}


#tit1{
    font-family: monospace;
    font-size: 3em;
    color: aliceblue;
    text-shadow: 1px 1px 5px black;
}

#tit1::after{
    content: "";
    animation: tituloTop 20s infinite;
}

.titAnim{
    height: 5em;
    display: grid;
    color: black;
    justify-items: center;
    width: 100%;
    align-content: center;
    background-image: linear-gradient(rgb(55, 0, 89), #b874d8);
}

.content{
    width: 100%;
}

.top{
    height: 32em;
    width: 100%;
    background-image: linear-gradient(#004385, #046edb, #90fff8);
    display: flex;
    justify-content: center;
}

.top img{
    height: 25em;
    margin: 3em;
    border-radius: 10em;
    box-shadow: 0px 0px 20px black
}

.layout1{
    width: 50em;
    height: 25em;
    background-image: url(place.jpg);
    background-repeat: no-repeat;
    position: relative;
    margin: 3em;
    display: flex;
    box-shadow: 0px 0px 20px rgb(0, 0, 0); 
}

.contentLayout{
    display: grid;
    float: left;
    align-content: center;
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.485);
    width: 15em;
    height: 100%;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contentLayout h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    /* Middle */

.middle{
    background-image: linear-gradient(#90fff8,#8c4aff,#5000ac);
    height: 50em;
}

.middle h1{
    font-family:monospace;
    font-size: 4em;
    background-image: linear-gradient(#0490db,#6998c8);
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    height: 2em;
    width: 100%s;
    align-content: center;
    text-align: center;
}

.middleContent{
    display: flex;
}

.esq{
    margin-top: 2em;
    width: 60%;
}

.esq img{
    height: 30em;
}

.esq::after{
    content: "Nossos cursos de robótica foram desenvolvidos para inspirar, ensinar e capacitar pessoas de todas as idades. Descubra o mundo da tecnologia com atividades práticas e inovadoras!";
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 20em;
    background-image: linear-gradient(rgb(0, 81, 255), rgb(89, 116, 255));
    border-radius: 2em;
    border-bottom-left-radius: 0;
    padding: 1em;
    align-content: center;
    text-align: center;
    border: 3px solid rgb(32, 45, 57);
    transform: translateX(-10em);
    font-size: large;
}

.dir{
    background-color: red;
    justify-content:flex-end;
    display: grid;
}

.dir details{
    margin-left: 1em;
}