*{
    padding: 0;
    margin: 0;
}

@keyframes tituloTop{
    0%,18%{
        content: "Busque Conhecimento!";
    }
    21%,40%{
        content: "Cursos Incríveis!";
    }
    41%,60%{
        content: "Venha Conosco!";
    }
    61%,80%{
        content: "Não Perca Essa Oportunidade!";
    }
    81%, 100%{
        content: "Fábrica De Melhorias";
    }
}

@keyframes zoom{
    to{
        height: 24em;
    }
    from{
        height: 22em;
    }
}

header{
    background-image: linear-gradient(#042960, #004599);
    color: black;
    width: 100%;
    height: 5em;
    display: flex;
    text-align: center; 
    position:relative;
    top: 0px;
    box-shadow: 0px 0px 10px aliceblue;
}

nav{
    width: 40em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #a204db;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#a2{
    background-color: #0023adac;
    padding: 6px;
    border-radius: 0.5em;
}

#logo{
    filter: invert(100);
}

#tit1{
    font-family: monospace;
    font-size: 4em;
    color: aliceblue;
    background-image:linear-gradient(rgba(0, 0, 0, 0.544), transparent);
    justify-content: center;
    display: grid;
    padding-top:60px;
    margin-top: -28px;
    width: 100%;
}

#tit1::after{
    content: "";
    animation: tituloTop 20s infinite;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.titAnim{
    height: 5em;
    display: grid;
    color: black;
    justify-items: center;
    width: 100%;
    align-content: center;
    padding-top: 1em;
}

.content{
    height: 107vh;
    width: 100%;
    background-image: url(oficbackground.png);
    display: grid;
}

h2{
    color: rgb(118, 255, 218);
    font-family: monospace;
    margin-top: 10px;
}

.cursos{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cursos img:hover{
    height: 25em;
    filter: brightness(0.5);
    box-shadow: 0px 0px 10px cyan;
}

.cursos img{
    height: 22em;
    border-radius: 2em;
    transition: height 1s ease,
                filter 1s ease;
    filter: brightness(1);
    z-index: 1;
    position: relative;
}

.cursos div{
    margin: 2em;
    filter: drop-shadow(0px 0px 10px rgb(200, 62, 255));
}

.cursos svg{
    background-color: rgb(0, 89, 255);
    padding: 14px;
    border-radius:2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.kids, .teens, .online{
    display:grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.icons{
    display: flex;
}

.cursos h1{
    font-family: monospace;
    color: aliceblue;
    position: relative;
    border-radius: 1em;
    background-color: rgb(0, 89, 255);
    padding: 8px;
    align-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 2em;
}

footer{
    height: 2em;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1100px) {
    nav{
        width: 23em;
        display: flex;
        justify-content: center;
    }
    a{
        font-size: medium;
        margin: 0.4em;
    }
    #a2{

        margin-top: 0;
        height: 1em;
    }
    #tit1{
        font-size: 1em;
    }
}