*{
    margin: 0;
    padding: 0;
}


nav{
    width: 25em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #046edb;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    justify-content: center;
    background-color: #660099;
    height: 100vh;

}

.square{
    height: 25em;
    width: 70em;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 4em;
    display: flex;
}


.left{
    width: 50%;
}

.right{
    width: 50%;
}

footer{
    background-color: black;
    font-size: 1.5em;
    height: 2em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: aliceblue;
}