*{
    margin: 0;
    padding: 0;

}

@keyframes tituloTop{
    0%,18%{
        content: "Criatividade Pura!";
    }
    21%,40%{
        content: "Crie Projetos Surpreendentes!";
    }
    41%,60%{
        content: "Crie O Que Quiser!";
    }
    61%,80%{
        content: "Não Perca Essa Oportunidade!";
    }
    81%, 100%{
        content: "Fábrica De Melhorias";
    }
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100em;
    justify-content: center;
}

.content{
    width: 100%;
}

.first{
    justify-items: center;
    display: grid;
    background-image: linear-gradient(#004385, #046edb, #90fff8);
}

.titAnim{
    height: 5em;
    display: grid;
    justify-items: center;
    width: 100%;
    margin-bottom: 2em;
    align-content: center;
    background-image: linear-gradient(rgb(55, 0, 89), #db65ff);
}

.cima{
    display: flex;
}

.nina{
    width: 32em;
}

#nina{
    margin-bottom: -4px;
    height: 36em;
    max-width: 35em;
}

.tablet{
    background-image: linear-gradient(#660099, #3d007e);
    border: 3px solid #40005f;
    box-shadow: 3px 3px 1px #250038;
    padding: 2em;
    border-radius: 3em;
    justify-items: center;
    display: grid;
}

#tit1{
    font-family: monospace;
    font-size: 3em;
    color: aliceblue;
    text-shadow: 1px 1px 5px black;
}

#tit1::after{
    content: "";
    animation: tituloTop 20s infinite;
}

.slider{
    margin: 0 auto;
    width: 500px;
    overflow: hidden;
    border-radius: 2em;
    border: 1px solid rgb(28, 0, 40);
    box-shadow: 0px 0px 40px rgba(185, 222, 255, 0.512);
}

img{
    height: 400px;
    max-width: 500px;
    position: relative;
    margin-right: 16em;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: -9.5em;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(120, 203, 255);
}

#radio1:checked ~.first{
    margin-left:0%;
}

#radio2:checked ~.first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

.navigation-auto div{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    margin-left: -9.5em;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(153, 0, 255);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(153, 0, 255);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(153, 0, 255);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(153, 0, 255);
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: rgb(153, 0, 255);
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: rgb(153, 0, 255);
}

/* Middle Part */

#titulo2{
    font-family:monospace;
    font-size: 4em;
    background-image: linear-gradient(#7704db,#a069c8);
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    height: 2em;
    width: 100%s;
    align-content: center;
    text-align: center;
}

.meio{
    display: grid;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(#90fff8,#8c4aff,#5000ac);
    height: max-content;
}

.square{
    margin-top: 2em;
    background-image: url(fb.png);
    border: 3px solid #250038;
    padding: 1em;
    border-radius: 2em;
    display: flex;  
    align-items: center;  
    width: 50em;    
}

.left{
    width: 35%;
}

.left img{
    border-radius: 2em;
}

.right{
    background-color: rgba(0, 0, 0, 0.211);
    padding: 2em;
    border-radius: 2em;
    height: 25em;
}

.right u{
    text-shadow: 1px 1px 1px black;
    color: rgb(162, 249, 255);
    cursor: pointer;
}

li{
    font-size: 1.5em;
}

.textos{
    color: aliceblue;
    font-family: monospace;
    text-shadow: 2px 2px 1px black;
}

    /* Relatos Part */

.relatos{
    height: 60em;
    display: grid;
    justify-content: center;
    background-image: linear-gradient(#5000ac,#1a008d, #004966);
}
.relatosContent{
    display: flex;
    justify-items:center;
    width: 70em;
}


.wttBallon{
    text-align: center;
    align-content: center;
    height: 3em;
    width: 25em;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    margin: 2em;
    background-color: rgb(113, 192, 114);
    font-family:Arial, Helvetica, sans-serif ;
    color: rgb(0, 0, 0);
}

#baloon1{
    width: 12em;
}
#baloon2{
    width: 10em;
}
#baloon3{
    height: 6em;
}
#baloon4{
    width: 15em;
}

.l1, .l2{
    display: flex;
}

.rightRelatos{
    display: grid;
}

@media screen and (max-width: 850px) {
    html{
        overflow-x: hidden;
    }
    #tit1{
        font-size: 2em;
        padding: 1em;
        border-radius: 1em;
    }
    .titAnim{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .tablet{
        padding: 1em;
    }
    #cam{
        margin-top: 1em;
    }
    .slider{
        height: 300px;
        width: 350px;
    }
    img{
        max-height: 300px;
        max-width: 350px;
    }
    .navigation-auto{
        margin-top: 270px;
        margin-left: -14em;
    }
    .manual-navigation{
        margin-top: -8.1em;
        margin-left: -14em;
    }
    .tabletButtons{
        margin-top: -1em;
        margin-bottom: 10px;
    }
}