*{
    padding: 0;
    margin: 0;
}

@keyframes tituloTop{
    0%,18%{
        content: "Busque Conhecimento!";
    }
    21%,40%{
        content: "Cursos Incríveis!";
    }
    41%,60%{
        content: "Venha Conosco!";
    }
    61%,80%{
        content: "Não Perca Essa Oportunidade!";
    }
    81%, 100%{
        content: "Fábrica De Melhorias";
    }
}

header{
    background-image: linear-gradient(#042960, #004599);
    color: black;
    width: 100%;
    height: 5em;
    display: flex;
    text-align: center; 
    position:relative;
    top: 0px;
    box-shadow: 0px 0px 10px aliceblue;
}

nav{
    width: 40em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #a204db;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#a2{
    background-color: #0023adac;
    padding: 6px;
    border-radius: 0.5em;
}

#logo{
    filter: invert(100);
}

#tit1{
    font-family: monospace;
    font-size: 4em;
    color: aliceblue;
    background-image:linear-gradient(rgba(0, 0, 0, 0.544), transparent);
    justify-content: center;
    display: grid;
    padding-top:60px;
    margin-top: -28px;
    width: 100%;
}

#tit1::after{
    content: "";
    animation: tituloTop 20s infinite;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.titAnim{
    height: 5em;
    display: grid;
    color: black;
    justify-items: center;
    width: 100%;
    align-content: center;
    padding-top: 1em;
}

.content{
    height: 118vh;
    width: 100%;
    background-image: url(oficbackground.png);
    display: grid;
}

h2{
    color: rgb(118, 255, 218);
    font-family: monospace;
    margin-top: 10px;
    text-shadow: 0px 0px 10px rgb(169, 215, 255);
}

.cursos{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cursos img:hover{
    height: 18em;
    transition: height 1s ease,
                filter 1s ease;
    filter: brightness(0.5);
    box-shadow: 0px 0px 10px cyan;
    color: aliceblue;
}

.saiba-mais{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.6em;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-family: monospace;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none;
}

.kids img:hover + .saiba-mais {
    opacity: 1;
    visibility: visible;
}

.teens img:hover + .saiba-mais {
    opacity: 1;
    visibility: visible;
}

.online img:hover + .saiba-mais {
    opacity: 1;
    visibility: visible;
}

.cursos img{
    height: 17em;
    border-radius: 2em;
    transition: height 1s ease,
                filter 1s ease;
    filter: brightness(1);
    position: relative;
    cursor: pointer;
}   

.cursos div{
    margin: 2em;
    filter: drop-shadow(0px 0px 10px rgb(200, 62, 255));
}

.cursos svg{
    background-color: rgb(0, 89, 255);
    padding: 14px;
    border-radius:2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.kids, .teens, .online{
    display:grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.icons{
    display: flex;
}

.cursos h1{
    font-family: monospace;
    color: aliceblue;
    position: relative;
    border-radius: 1em;
    background-color: rgb(0, 89, 255);
    padding: 8px;
    align-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 2em;
}

#maisinf{
    text-align: center;
    background-color: #16003a;
    color: aliceblue;
    padding: 1em;
    position: relative;
    font-family: monospace;
    font-size: 2em;
}

footer{
    height: 2em;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    nav{
        width: 23em;
        display: flex;
        justify-content: center;
    }
    .content{
        height: 90vh;
    }
    .itens{
        max-width: 100%;
    }
    .icons{
        font-size: 0.7em;
        padding: 1px;
    }
    svg{
        height: 3em;
        padding: 1px;
    }
    a{
        font-size: medium;
        margin: 0.4em;
    }
    .cursos img{
        height: 15em;
    }
    .cursos img:hover{
        height: 16em;
        transition: height 1s ease,
        filter 1s ease;
    }
    #a2{
        margin-top: 0;
        height: 1em;
    }
    #tit1{
        font-size: 2em;
    }
}

@media screen and (max-width: 760px){
    #tit1{
        font-size: 1.5em;
    }
    nav{
        width: 17em;
        display: flex;
    }
    a{
        font-size:15px;
        margin: 0.4em;
    }
    #logo{
        visibility: hidden;
    }
    .content{
        height: 115em;
    }
    .cursos{
        display: grid;
    }
    .cursos img{
        height: 20em;
    }
    .cursos img:hover{
        height: 21em;
        transition: height 1s ease,
        filter 1s ease;
    }
    svg{
        height: 9em;
        padding: 0;
    }
    .icons h1{
        font-size: 4em;
    }
}