*{
    margin: 0;
    padding: 0;
}



nav{
    width: 25em;
    height: 1.5em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0.7em);
    text-align: center;
    background-color: #8504db;
    padding: 1em;
    border-radius: 2em;
    opacity: 100;
}

a{
    color: aliceblue;
    margin: 1em;
    font-size: 1.5em;
    position: relative; 
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url(finalFund.png);
    height: 100vh;

}

.square{
    margin-top: 4em;
    height: 30em;
    width: 70em;
    background-image: linear-gradient(rgb(0, 89, 255),rgb(0, 49, 141));
    border-radius: 4em;
    border: 4px solid rgb(0, 34, 94);
    display: flex;
}

.left{
    width: 40%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: grid;
}

.right{
    width: 60%;
    align-content: center;
}

.right h1{
    height: 2em;
    width: 90%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

.right p {
    width: 80%;
    color: aliceblue;
    font-family: monospace;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    padding: 1.5em;
    border-radius: 2em;
}

img{
    height: 13em;
    border-radius: 2em;
    margin: 0.4em;
    border: 4px solid rgb(0, 51, 219);
    box-shadow: 0px 0px 20px black;
}

footer{
    background-color: black;
    font-size: 1.5em;
    height: 2em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: aliceblue;
}

@media screen and (max-width: 1150px){
    .container{
        height: 130vh;
    }
    .left{
        display: flex;
        align-items: center;
    }
    .square{
        width: 50em;
        height: 40em;
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .right{
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .right h1{
        width: 100%;
        font-size: 1.8em;
    }
    .right p{
        align-content: center;
        width: 140%;
        height: 10em;
    }
}

@media screen and (max-width: 830px) {
    body{
        max-width: 100%;
        margin: 0;
    }
    .container{
        height: 100vh;
    }
    nav{
        width: 12em;
        display: flex;
        justify-content: center;
    }
    a{
        font-size:15px;
        margin: 0.4em;
    }
    .square{
        display: grid;
        align-content: baseline;
        width: 23em;
        height: 30em;
    }
    img{
        height: 0;
        visibility: hidden;
    }
    #w{
        margin-left: -1.1em;
    }
    .right p{
        width: 130%;
        font-size: 1.5em;
        height: max-content;
        padding: 0.7em;
    }
}